### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.cache
.coverage
.coverage.*
.tox/

### Vim ###
# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
