# Preferred Email	Other Email
David Christian <http://issues.rpath.com>	<http://bugs.rpath.com>
Elliot Peele <elliot.peele@sas.com>	<elliot@bentlogic.net>
Elliot Peele <elliot.peele@sas.com>	Elliot Peele <https://issues.rpath.com/>
Joseph Tate <https://issues.rpath.com>	Joseph Tate <jtate@dragonstrider.com>
Michael Tharp <michael.tharp@sas.com>	<mtharp@rpath.com>
